@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-x: hidden;
}

.site-container {
  margin-top: 3.7rem;
  min-height: 100vh;
  background-color: #bababa;
}

main {
  flex: 1;
}

/************************************************************ Homepage PAGE ************************************************************************/

.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero > div {
  text-align: center;
}

.heroTitle {
  font-family: cursive;
  font-size: 5rem;
  margin: 2rem;
}

.text-focus-in {
  animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

.learn-more {
  width: 12rem;
  height: auto;
}

.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

.learn-more:hover .circle {
  width: 100%;
}

.learn-more:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}

.learn-more:hover .button-text {
  color: #fff;
}

.learn-more::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: 0.7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);
}

.learn-more:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em 0.25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 0.75em 0.25em var(--glow-color);
}

.learn-more:active {
  box-shadow: 0 0 0.6em 0.25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 0.5em 0.25em var(--glow-color);
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slide-in-left 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.heroBody {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

.feature {
  margin: 3rem;
}

.featuresTitle {
  font-size: 50px;
}

.featureTitle {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 1rem;
}

.featureBody {
  font-size: 28px;
}

.eventTypePic {
  width: 300px;
  height: 500px;
}

/************************************************************ Register PAGE ************************************************************************/

.registerProfile {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
}

/************************************************************ ACCOUNTS PAGE ************************************************************************/

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  background-image: url("../public/images/homepage-bg.jpg");
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10rem;
  margin-bottom: -8rem;
  border-radius: 50%;
  box-shadow: 18px 18px 36px #7f7f7f, -18px -18px 36px #fbfbfb;
}

.countdown {
  display: flex;
  flex-direction: row;
}

/************************************************************ VENDORS-ACCOUNTS PAGE **************************************************/
.vaccount-header {
  display: flex;
  justify-content: space-around;
  height: 25vw;
  width: 35vw;
  margin: auto;
  margin-top: 10vh;
}

.vaccount-photo {
  flex-direction: column;
  align-items: center;
}

.vedit-photo {
  width: 10vw;
  height: 3vw;
  margin-left: 20%;
}

.vedit-photo p {
  font-size: 1vw;
}

.vedit-button {
  width: 7vw;
  height: 3vw;
}

.vedit-button p {
  font-size: 1vw;
}

.vaccount-content {
  display: flex;
  justify-content: space-around;
  height: 45vw;
  width: 70vw;
  margin: auto;
}

.vaccount-cards {
  margin: 2vw;
  height: auto;
  width: 30vw;
}

.about-co {
  text-align: center;
}

.about-co h5 {
  font-style: italic;
}

.about-co p {
  text-align: justify;
}

.vaccount-gallery {
  display: grid;
  grid-template-columns: repeat(5, 6vw);
  grid-gap: 10px;
}

.gallery-cards {
  margin: 2vw;
}

/************************************************************ CALENDAR PAGE ***************************************************************/
.calendar {
  margin-top: 10%;
}

.month-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.month-indicator h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.month-indicator button {
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.day-of-week,
.date-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background-color: white;
  outline: 1px solid;
  outline-color: #ffab40;
}

.day-of-week div {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  outline: 1px solid;
  outline-color: #ffab40;
}

.date-grid {
  height: 30vw;
}

.date-grid div {
  padding: 10px;
  text-align: right;
  outline: 1px solid;
  outline-color: #ffab40;
}

.date-grid div:hover {
  background-color: #d9d9d9;
}

.date-grid div:first-child {
  grid-column: 1;
}

/* .checklist {
  background-color: white;
  outline: 2px solid;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
} */

/* .add-checklist {
  margin-top: 90%;
} */

.todo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/************************************************************ PORTFOLIO PAGE ************************************************************/
.portfolio-img {
  max-width: 100%;
  display: block;
}

.portfolio-grid {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.portfolio figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

.portfolio {
  column-count: 4;
  column-gap: 10px;
}

/************************************************************CONTACT-PAGE*******************************************************************************/
.contact-page {
  background-image: url(../public/images/empty-letter.jpg);
  width: 100vw;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
}

.contact-form {
  background-color: aliceblue;
  height: auto;
  width: 35vw;
  border-radius: 5%;
  padding: 3vw;
  margin: auto;
  margin-top: 20vh;
  font-size: 1vw;
}
.contact-form h2 {
  text-align: center;
}

.contact-form .form-control {
  height: 39px;
}

/*****************VENDOR+CALCULATOR PAGE*************/
.btn:hover .vcard-text {
  opacity: 1;
}

.vcalculator h2,
p {
  margin-top: 5vw;
  text-align: center;
}

.v-vendors {
  width: 70vw;
  height: auto;
}
.filter {
  background-color: #79bec6;
  color: #fff;
  margin: 2vw;
  height: auto;
  padding: 1vw;
  width: 23vw;
  border-radius: 8%;
  text-align: center;
}

.calculator {
  background-color: #79bec6;
  color: #fff;
  margin: 2vw;
  padding: 1vw;
  height: auto;
  width: 23vw;
  border-radius: 8%;
}

.calculator ul {
  background-color: aliceblue;
  color: #033439;
  max-height: 25vw;
  overflow-y: scroll;
  margin: 0.1vw;
}

.calculator li {
  display: flex;
  align-items: center;
  padding: 0.3vw;
  justify-content: space-between;
}

.vcal-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
}

.clearCart {
  margin: auto;
}

.nextBack-btn {
  display: flex;
  justify-content: space-between;
}

.budget-calculator {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
}

.budget-calculator h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.budget-calculator form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.budget-calculator form label {
  margin-bottom: 5px;
}

.budget-calculator form input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.budget-calculator form button {
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.budget-items {
  margin-bottom: 10px;
}

.budget-items div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.budget-items p {
  margin: 0;
}

.budget-items button {
  padding: 2px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}

.over-budget {
  color: red;
}
