@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-x: hidden;
}

.site-container {
  min-height: 100vh;
  background-color: #278b7b;
}
main {
  flex: 1;
}

@media (max-width: 900px) {
  #root {
    width: 1000px;
  }
}

/****************************************************** Navbar ******************************************************/

.nav-full {
  position: fixed;
  margin: 0.5rem 2rem 0 4rem;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  z-index: 3;
}

.brand-logo > a {
  font-size: 70px;
  font-weight: 700;
  color: black;
  font-family: Dongle;
  transition: 1s;
}

.brand-logo > a:hover {
  color: white !important;
  letter-spacing: 1rem;
}

.navbar-right {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.navBtn {
  background: #282936;
  padding: 10px 2rem;
  outline: 2.5px solid #febf00;
  outline-offset: 3px;
  border: 0;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  border-radius: 1.4rem;
  transition: 0.4s;
  font-weight: 600;
  margin: 1rem;
}

.dropdown-content {
  margin-right: 0.7rem;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 3;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: lightgray;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  outline-offset: 4.5px;
  background: #febf00;
  font-size: 1.1rem;
}

.navBtn:hover {
  outline-offset: 4.5px;
  background: #febf00;
  font-size: 1.1rem;
}

@media (max-width: 950px) {
  .navBtn {
    display: none;
  }

  .label-check {
    display: none;
  }

  .ham {
    position: relative;
    z-index: 9999;
  }

  .hamburger-label {
    width: 70px;
    height: 58px;
    display: block;
    cursor: pointer;
  }

  .hamburger-label div {
    width: 70px;
    height: 6px;
    background-color: #fff;
    position: absolute;
  }

  .line1 {
    transition: all 0.3s;
  }

  .line2 {
    margin: 18px 0 0 0;
    transition: 0.3s;
  }

  .line3 {
    margin: 36px 0 0 0;
    transition: 0.3s;
  }

  #label-check:checked + .hamburger-label .line1 {
    transform: rotate(35deg) scaleX(0.55) translate(39px, -4.5px);
    border-radius: 50px 50px 50px 0;
  }

  #label-check:checked + .hamburger-label .line3 {
    transform: rotate(-35deg) scaleX(0.55) translate(39px, 4.5px);
    border-radius: 0 50px 50px 50px;
  }

  #label-check:checked + .hamburger-label .line2 {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    width: 45px;
  }

  /****************************************************** Responsive Navbar ******************************************************/

  .sidebar {
    position: fixed;
    top: 0;
    right: -60%;
    width: 60%;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: all 0.3s;
    z-index: 2;
    padding: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
  }

  .sidebar.open {
    right: 0;
  }

  .res-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 1.5rem;
    min-height: 75px;
    font-size: 30px;
    color: black;
    font-weight: bold;
  }
  .res-nav-logo {
    display: none;
  }

  .res-nav-blank {
    margin-bottom: 1.5rem;
    min-height: 75px;
    max-height: 75px;
  }

  @media (max-width: 700px) {
    .res-nav-logo {
      display: flex;
      justify-content: left;
      align-items: center;
      margin-bottom: 1.5rem;
      padding-left: 1.5rem;
      min-height: 75px;
      max-height: 75px;
      color: black;
      font-weight: 700;
      font-family: Dongle;
      font-size: 70px;
    }

    .res-nav-blank {
      display: none;
    }

    .brand-logo {
      display: none;
    }

    .ham {
      margin-top: 1.5rem;
    }
  }

  @media (max-width: 550px) {
    .sidebar {
      right: -100%;
      width: 100%;
    }
  }
}

/************************************************************ Homepage PAGE ************************************************************************/
.homepage {
  background-color: #54556d;
}

@media (max-width: 1000px) {
  .homepage {
    width: 1000px;
  }
}

@media (max-width: 390px) {
  .homepage {
    width: 1000px;
  }
}

.hero {
  min-height: 90vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #04b4ac;
}

.hero > div {
  text-align: center;
}

.heroTitle {
  font-family: "Varela Round";
  font-weight: 700;
  font-size: clamp(6rem, 15vw, 6rem);
  margin: 8rem 2rem -4rem 2rem;
  color: yellow;
}

.heroBody {
  font-size: clamp(1.6rem, 2.5vw, 2rem);
  padding: 4rem;
  color: lightyellow;
}

.text-focus-in {
  animation: text-focus-in 1.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) 2s both;
}

@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}

.custom-shape-divider-top-1683260030 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1683260030 svg {
  position: relative;
  display: block;
  width: calc(116% + 1.3px);
  height: 225px;
}

.custom-shape-divider-top-1683260030 .shape-fill {
  fill: #04b4ac;
}

.get-started {
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  background: none;
  color: white;
  position: relative;
  outline: none;
  border: none;
  height: 50px;
  width: 190px;
  font-size: 14px;
  z-index: 2;
  transition: 0.01s 0.23s ease-out all;
  overflow: hidden;
}

.get-started:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 55%;
  background: #303039;
  z-index: -1;
  transition: 0.3s ease-in all;
}

.get-started:after {
  content: "";
  position: absolute;
  left: -5%;
  top: 5%;
  height: 90%;
  width: 5%;
  background: white;
  transition: 0.4s 0.02s ease-in all;
}

.get-started:hover {
  cursor: pointer;
  color: transparent;
}

.get-started:hover:before {
  left: 120%;
  width: 25%;
}

.get-started:hover:after {
  left: 100%;
  width: 70%;
}

.get-started:hover > .icon-right.after:after {
  left: -80px;
  color: white;
  transition: 0.2s 0.2s ease all;
}

.get-started:hover > .icon-right.after:before {
  left: -104px;
  top: 14px;
  opacity: 0.2;
  color: white;
}

.icon-right {
  position: absolute;
  top: 0;
  right: 0;
}

.icon-right:after {
  font-family: "FontAwesome";
  content: "→";
  font-size: 24px;
  display: inline-block;
  position: relative;
  top: 26px;
  transform: translate3D(0, -55%, 0);
}

.icon-right.after:after {
  left: -250px;
  color: black;
  transition: 0.15s 0.25s ease left, 0.5s 0.05s ease color;
}

.icon-right.after:before {
  content: "Create Event!";
  position: absolute;
  left: -230px;
  top: 14px;
  opacity: 0;
  transition: 0.2s ease-in all;
}

.signature {
  position: fixed;
  font-family: sans-serif;
  font-weight: 100;
  bottom: 10px;
  left: 0;
  letter-spacing: 4px;
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.slide-in-left {
  animation: slide-in-left 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.heroBody {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

/****************************************************** Features sections ******************************************************/

.featuresTitle {
  font-family: "Varela Round";
  font-size: 50px;
  color: lightcyan;
  margin: 7rem;
}

.features-section {
  height: 100vh;
}

.feature {
  width: 250px;
  height: 350px;
  border-radius: 55px;
  background: #54556d;
  box-shadow: 16px 16px 32px #3c3d4e, -16px -16px 32px #6c6d8c;
  z-index: 1;
}

.featureTitle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  margin-top: 4rem;
  margin-bottom: 3rem;
  color: lightcyan;
}

.featureBody {
  font-size: 18px;
  margin: 2rem;
  color: lightcyan;
}

/****************************************************** Events sections ******************************************************/

.custom-shape-divider-bottom-1683291772 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683291772 svg {
  position: relative;
  display: block;
  width: calc(128% + 1.3px);
  height: 157px;
}

.custom-shape-divider-bottom-1683291772 .shape-fill {
  fill: #c3dd64;
}

.event-section {
  background-color: #c3dd64;
  height: 90vh;
  padding: 5rem;
  padding-top: 11rem;
}

.eventTypeTitle > h1 {
  font-family: "Varela Round";
  font-size: 50px;
  font-weight: 700;
  color: #54556d;
  margin-bottom: 8rem;
}

@media (max-width: 400px) {
  .birthday-book,
  .corporate-book,
  .party-book,
  .wedding-book {
    width: 140px !important;
    height: 220px !important;
    z-index: 1;
  }
}

.color-change-5x {
  animation: color-change-5x 1s ease-in-out infinite alternate both;
}

@keyframes color-change-5x {
  0% {
    background: #19dcea;
  }
  25% {
    background: #b22cff;
  }
  50% {
    background: #ea2222;
  }
  75% {
    background: #f5be10;
  }
  100% {
    background: #3bd80d;
  }
}

.wedding-book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #181818;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  background-image: url(/public/images/wedding.jpg);
  background-size: cover;
  background-position: center;
}

.wedding-cover {
  top: 0;
  position: absolute;
  background: linear-gradient(
    0deg,
    rgb(247, 247, 247) 23.8%,
    rgb(252, 221, 221) 92%
  );
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #6e6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wedding-book:hover .wedding-cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.wedding-book p {
  font-size: 20px;
  font-weight: bolder;
}

.party-book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  background-image: url(/public/images/party.jpg);
  background-size: cover;
  background-position: center;
}

.party-cover {
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.party-book:hover .party-cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.party-book p {
  font-size: 20px;
  font-weight: bolder;
}

.birthday-book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  background-image: url(/public/images/birthday.jpg);
  background-size: cover;
  background-position: center;
}

.birthday-cover {
  top: 0;
  position: absolute;
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );

  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.birthday-book:hover .birthday-cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.birthday-book p {
  font-size: 20px;
  font-weight: bolder;
}

.corporate-book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  background-image: url(/public/images/corporate.jpg);
  background-size: cover;
  background-position: center;
}

.corporate-cover {
  top: 0;
  position: absolute;
  background: #b8e1fc;
  background: radial-gradient(
    circle farthest-corner at center center,
    #b8e1fc 0%,
    #231421 100%
  );
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.corporate-book:hover .corporate-cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}

.corporate-book p {
  font-size: 20px;
  font-weight: bolder;
}

/************************************************************ What we offer Section ************************************************************************/

.custom-shape-divider-top-1683298748 {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1683298748 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 346px;
  transform: rotateY(180deg);
}

.custom-shape-divider-top-1683298748 .shape-fill {
  fill: #c3dd64;
}

.offer-section {
  height: 50vh;
  margin-top: -1rem;
  margin-bottom: 10rem;
}

.offer-title {
  font-family: "Varela Round";
  font-size: 70px;
  margin: 6rem;
  color: #c3dd64;
}

.service-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin: 6rem;
  margin-top: 3rem;
}

.service-item-content {
  height: 150px;
  width: 150px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

/************************************************************ Our Partners ************************************************************************/

.custom-shape-divider-bottom-1683299503 {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1683299503 svg {
  position: relative;
  display: block;
  width: calc(123% + 1.3px);
  height: 130px;
}

.custom-shape-divider-bottom-1683299503 .shape-fill {
  fill: #76c394;
}

.partners-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  height: 90vh;
  background-color: #76c394;
  padding-bottom: 8rem;
}

.sponsors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.partners-title {
  margin-bottom: -7rem;
  font-family: "Varela Round";
  font-weight: 700;
}

.partner-cards {
  display: inline-flex;
  width: 1050px;
  height: 300px;
  gap: 0.5rem;
}

.partner-cards > div {
  flex: 2;
  border-radius: 0.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto 100%;
  transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}

.partner-cards > div:hover {
  flex: 6.5;
}

/************************************************************ Login PAGE ************************************************************************/
.login-container {
  display: flex;
  justify-content: center;
  color: white;
}

.content {
  width: 800px;
  height: auto;
  padding: 40px 30px;
  border-radius: 63px;
  background: #278b7b;
  box-shadow: -18px -18px 34px #1b5f54, 18px 18px 34px #33b7a2;
  margin-top: 2em;
}

@media (max-width: 900px) {
  .login-page-container {
    height: 160vh;
  }
  .register-page-container {
    height: 160vh;
  }
  .content {
    width: 750px !important;
  }
  .inputbox {
    width: 600px !important;
  }
  .registerProfile {
    max-width: 200px !important;
  }
  .register-avatar {
    width: 500px !important;
  }
}

@media (max-width: 600px) {
  .login-page-container {
    height: 244vh;
  }
  .register-page-container {
    height: 244vh;
  }
  .content {
    width: 700px !important;
  }
  .inputbox {
    width: 600px !important;
  }
  .registerProfile {
    max-width: 150px !important;
  }
  .register-avatar {
    width: 500px !important;
  }
}

.login-container a,
.login-container i {
  color: white;
}

.inputbox {
  position: relative;
  width: 700px;
  margin-bottom: 2em;
}

.inputbox input {
  position: relative;
  width: 100%;
  padding: 20px 10px 10px;
  background: transparent;
  outline: none;
  box-shadow: none;
  border: none;
  color: #23242a;
  font-size: 1em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  z-index: 10;
}

.inputbox span {
  position: absolute;
  left: 0;
  padding: 20px 10px 10px;
  font-size: 1em;
  color: #ffffff;
  letter-spacing: 00.05em;
  transition: 0.5s;
  pointer-events: none;
}

.inputbox input:valid ~ span,
.inputbox input:focus ~ span {
  color: #befff4;
  transform: translateX(-10px) translateY(-34px);
  font-size: 0, 75em;
}

.inputbox i {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #befff4;
  border: solid 1px rgb(255, 255, 255);
  border-radius: 6px;
  transition: 0.5s;
  pointer-events: none;
  /* z-index: 9; */
}

.inputbox input:valid ~ i,
.inputbox input:focus ~ i {
  height: 44px;
}

.login-button {
  color: white;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #278b7b;
  border: 1px solid transparent;
  transition: all 0.3s;
  box-shadow: 4px 4px 10px #1b5f54, -4px -4px 10px #33b7a2;
}

.login-button:active {
  color: #000000;
  box-shadow: inset 4px 4px 12px #1b5f54, inset -4px -4px 12px #33b7a2;
}

.tab {
  color: #ffffff;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #278b7b;
  border: 1px solid #33b7a2;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #1b5f54, -6px -6px 12px #33b7a2;
}

.tab:active {
  color: #ffffff;
  box-shadow: inset 4px 4px 12px #1b5f54, inset -4px -4px 12px #33b7a2;
}

.tab.active {
  box-shadow: inset 4px 4px 12px #1b5f54, inset -4px -4px 12px #33b7a2;
}

/************************************************************ Register PAGE ************************************************************************/

.registerProfile {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  box-shadow: 6px 6px 12px #33b7a2, -6px -6px 12px #1b5f54;
  cursor: pointer;
}

/************************************************************ USER PROFILE PAGE ************************************************************************/

.profile-page {
  height: 100vh;
  width: 100vw;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 5rem;
  background-color: #d99620;
}

.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 10rem;
  margin-bottom: -8rem;
  border-radius: 50%;
  box-shadow: 18px 18px 36px #7f7f7f, -18px -18px 36px #fbfbfb;
}

.countdown {
  display: flex;
  flex-direction: row;
}

.edit-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100px;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: rgb(16, 150, 190);
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 0px rgb(106, 107, 107);
  transition-duration: 0.3s;
}

.edit-svg {
  width: 13px;
  position: absolute;
  right: 0;
  margin-right: 20px;
  fill: white;
  transition-duration: 0.3s;
}

.edit-button:hover {
  color: transparent;
}

.edit-button:hover svg {
  right: 43%;
  margin: 0;
  padding: 0;
  border: none;
  transition-duration: 0.3s;
}

.edit-button:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px rgb(140, 32, 212);
}

.event-btn-wrapper {
  display: flex;
  justify-content: space-around;
}

.event-container {
  display: flex;
  position: relative;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .event-container {
    width: 500px !important;
  }
}

@media (max-width: 600px) {
  .event-container {
    width: 340px !important;
  }
}

.event-container::before,
.event-container::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}

.event-container::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
}

.event-container .box {
  width: 500px;
  height: auto;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.418);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
}

.event-container .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-container .box .event-title {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.event-container .box div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.event-container .box div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.event-container .box:hover {
  box-shadow: 0px 0px 20px 10px #ffe6005d;
  border: 1px solid rgba(255, 255, 255, 0.454);
}

/************************************************************ VENDORS **************************************************/
@media (max-width: 900px) {
  .vendors-container {
    height: 120vh;
  }
  .vendors-content-container {
    width: 750px;
    height: 100vh;
  }
}

@media (max-width: 400px) {
  .vendors-container {
    height: 240vh;
  }
  .vendors-content-container {
    width: 750px;
    height: 150vh;
  }
}

.vendors {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  margin: 9rem;
}

.vendors-content-container {
  border: solid 1px black;
  border-radius: 3px;
  border-top: none;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  background-color: #011522;
  padding: 5rem;
  margin-top: -10px;
}

.vendor-img {
  transition: transform 0.2s;
  filter: drop-shadow(8px 8px 10px rgb(34, 34, 34));
  margin-bottom: 2em;
}

.vendor-img:hover {
  transform: scale(1.2);
}

.vendors-tab-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.vendor-tab {
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  background-color: #011522;
  color: white;
  margin-right: 1px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.vendor-tab:hover {
  transform: translateY(-10px);
}

.vendor-tab.active {
  transform: translateY(-10px);
}

.tools {
  display: flex;
  align-items: center;
  padding: 0px;
}

.circle {
  padding: 0 2px 0 4px;
}

.box {
  display: inline-block;
  align-items: center;
  width: 10px;
  height: 10px;
  padding: 1px;
  border-radius: 50%;
}

.red {
  background-color: #ff605c;
}

.yellow {
  background-color: #ffbd44;
}

.green {
  background-color: #00ca4e;
}

/************************************************************ CALENDAR PAGE ***************************************************************/
.calendar {
  margin-top: 10%;
}

.fc-scrollgrid-sync-inner {
  background-color: #ffab40;
}

.fc-scrollgrid-sync-inner a {
  color: #00525f;
}

.fc-scrollgrid * {
  border-color: #00525f !important;
}

.fc-toolbar-title {
  color: white;
}

/**************************************************************To-Do List***********************************************/
.todo-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.todo-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.add-input {
  display: flex;
  flex-direction: column;
}

/* Hide the default checkbox */
.td-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.td-container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
}

/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 0;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background: #01ab72;
  border-radius: 50px;
  transition: all 0.7s;
  --spread: 20px;
}

/* When the checkbox is checked, add a background */
.td-container input:checked ~ .checkmark {
  background: rgb(254, 254, 254);
  box-shadow: -3px -3px var(--spread) 0px #01ab72,
    0 -3px var(--spread) 0px #01ab72, 3px -3px var(--spread) 0px #01ab72,
    3px 0 var(--spread) 0px #01ab72, 3px 3px var(--spread) 0px #01ab72,
    0 3px var(--spread) 0px #01ab72, -3px 3px var(--spread) 0px #01ab72;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.td-container input:checked ~ .checkmark:after {
  display: block;
  animation: checkmark 0.3s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

/* Style the checkmark/indicator */
.td-container .checkmark:after {
  left: 0.45em;
  top: 0.25em;
  width: 0.5em;
  height: 0.6em;
  border: solid #01ab72;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

/* Add animation for checkmark */
@keyframes checkmark {
  from {
    transform: rotate(-45deg) scale(0);
  }

  to {
    transform: rotate(45deg) scale(1);
  }
}

/* Style the label text */
.td-container span {
  margin-left: 2em;
  color: #01ab72;
  font-weight: bold;
}

/***************************cross button******************/
.noselect {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.9rem 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 8px;
  border-radius: 500px;
  overflow: hidden;
  background: #f94646;
  color: ghostwhite;
}

.noselect span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
}

.noselect:hover span {
  color: rgb(253, 253, 253);
}

.noselect::before,
.noselect::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.noselect::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.noselect:hover::before {
  transform: translate3d(100%, 0, 0);
}

/*********************************** ITINERARY PAGE *********************************************/

.fc-timegrid-now-indicator-container,
.fc-timegrid-axis {
  background-color: #ffab40;
}

.fc-media-screen {
  margin-top: 8em;
}

/************************************************************ PORTFOLIO PAGE ************************************************************/
.portfolio-img {
  max-width: 100%;
  display: block;
}

.portfolio-grid {
  margin: 0;
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
}

.portfolio figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

.portfolio {
  column-count: 4;
  column-gap: 10px;
}

/************************************************************CONTACT-PAGE*******************************************************************************/
.contact-page {
  background-image: url(../public/images/ben-rosett-nYugmV-SY6s-unsplash.jpg);
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  height: 100vh;
}

.contact-form {
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 15rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 0.4em;
  background-color: #171717;
  border-radius: 25px;
  transition: 0.4s ease-in-out;
  text-align: center;
  color: white;
}

@media (max-width: 900px) {
  .contact-page {
    width: 1000px !important;
    height: 166vh;
  }
  .contact-form {
    width: 800px !important;
    height: 800px;
  }
}

@media (max-width: 600px) {
  .contact-page {
    width: 1000px !important;
    height: 166vh;
  }
  .contact-form {
    width: 600px !important;
  }
}

@media (max-width: 400px) {
  .contact-page {
    width: 1000px !important;
    height: 255vh !important;
  }
  .contact-form {
    width: 800px !important;
    height: 100vh;
  }
}

.field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 25px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: white;
  background-color: #171717;
  box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #ffffff;
}

.input-field::placeholder {
  color: white;
}

.send-button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.send-button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send-button:hover span {
  transform: translateX(5em);
}

.send-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/*************************************************************VENDOR+CALCULATOR PAGE********************************************************************/
.btn:hover .vcard-text {
  opacity: 1;
}

.vendor-tabs {
  color: white;
}

.vcalculator-header {
  color: white;
}

.vcalculator {
  margin-top: 10em;
}

.vcalculator h2,
.vcalculator p {
  margin-top: 2em;
  text-align: center;
}

.vcalc-container {
  display: flex;
}

.tab-content {
  width: 1200px;
  height: 1000px;
}

.v-content {
  margin-top: 5em;
}

.filter {
  border-radius: 28px;
  background: #278b7b;
  box-shadow: 21px -21px 42px #1c6459, -21px 21px 42px #32b29d;
  color: #fff;
  margin: 2vw;
  height: auto;
  padding: 1vw;
  width: 400px;
  text-align: center;
}

.calculator {
  border-radius: 28px;
  background: #278b7b;
  box-shadow: 21px -21px 42px #1c6459, -21px 21px 42px #32b29d;
  color: #fff;
  margin: 2vw;
  padding: 1vw;
  height: auto;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.calculator ul {
  background-color: aliceblue;
  color: #033439;
  max-height: 25vw;
  overflow-y: scroll;
  margin: 0.1vw;
}

.calculator li {
  display: flex;
  align-items: center;
  padding: 0.3vw;
  justify-content: space-between;
}

.vcal-name {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 40%;
}

.clearCart {
  margin: auto;
}

.nextBack-btn {
  display: flex;
  justify-content: space-between;
}

.budget-calculator {
  width: 300px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto;
}

.budget-calculator h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.budget-calculator form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.budget-calculator form label {
  margin-bottom: 5px;
}

.budget-calculator form input {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
}

.budget-calculator form button {
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.budget-items {
  margin-bottom: 10px;
}

.budget-items div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.budget-items p {
  margin: 0;
}

.budget-items button {
  padding: 2px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  cursor: pointer;
}

.over-budget {
  color: red;
}

/************************************************************Vendorprofilepage*******************************************************************************/
.vendor-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 20px;
  width: 100vw;
}

.vendor-desc {
  width: 100vw;
}

@media (max-width: 1080px) {
  .profile-page {
    width: 1000px !important;
  }
  .vendor-gallery {
    width: 1000px !important;
  }
  .vcard-img img {
    width: 150px !important;
    height: 200px !important;
  }
}

@media (max-width: 600px) {
  .profile-page {
    width: 1000px !important;
  }
  .vendor-gallery {
    width: 900px !important;
  }
  .vcard-img img {
    width: 100px !important;
    height: 150px !important;
  }
}

@media (max-width: 400px) {
  .profile-page {
    width: 1000px !important;
  }
  .vendor-gallery {
    width: 900px !important;
  }
  .vcard-img img {
    width: 100px !important;
    height: 150px !important;
  }
}

.vcard-img img {
  width: 300px;
  height: 350px;
  margin: 20px;
  border-radius: 10%;
}

.vcard-img:hover {
  transform: translateY(-5px);
  transition: all 0.5s ease-in-out;
}

.upload-btn-div {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

/*********************************** DASHBOARD *******************************************/
.dashboard-table td,
.dashboard-table th,
.dashboard-title {
  color: white;
}

@media (max-width: 900px) {
  .dashboard-container {
    width: 1000px !important;
  }
  #root {
    width: 1000px;
  }
}
